    body {
      font-family: 'Roboto', sans-serif;
      background-color: white;
    }

    .settings {
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }

    /*.content {*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*flex-wrap: wrap;*/
        /*justify-content: center;*/
        /*width: 350px;*/
        /*padding: 5px;*/
    /*}*/

    .content input {
      margin-bottom: 5px;
    }

    .content label {
      margin-left: 65px;
      font-size: 0.8rem;
      color:red;
    }
